<a href="https://colab.research.google.com/github/birusolankar/Pandas/blob/main/Pandas_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Creating a DataFrame

In [46]:
# using read_csv
ipl = pd.read_csv("/content/ipl-matches.csv")

In [49]:
movies = pd.read_csv("/content/movies.csv")

In [53]:
# using lists
student_data = [
    [100,120,10],
    [95,100,8],
    [85,95,5],
    [98,130,8],
    [75,125,8.5]
]

students = pd.DataFrame(student_data, columns=['marks','iq','lpa'])
students

   marks   iq   lpa
0    100  120  10.0
1     95  100   8.0
2     85   95   5.0
3     98  130   8.0
4     75  125   8.5

In [58]:
# using dictionary
students_data = {
    'name':['Biru', 'Anuj', 'Shubham', 'Miheer', 'Vipul', 'Ragini', 'Manali'],
    'marks':[100,85,95,56,78,85,89],
    'iq':[100,120,63,125,78,110,111],
    'lpa':[8,9,4,5,7.8,6,7.5]

}

students = pd.DataFrame(students_data)
students.set_index('name', inplace = True)

In [59]:
students

         marks   iq  lpa
name
Biru       100  100  8.0
Anuj        85  120  9.0
Shubham     95   63  4.0
Miheer      56  125  5.0
Vipul       78   78  7.8
Ragini      85  110  6.0
Manali      89  111  7.5

In [61]:
# shape
print(ipl.shape)
print(movies.shape)
print(students.shape)

(950, 20)
(1629, 18)
(7, 3)

In [62]:
# dtypes ---> gives the details of the datatype of each column
ipl.dtypes

ID                   int64
City                object
Date                object
Season              object
MatchNumber         object
Team1               object
Team2               object
Venue               object
TossWinner          object
TossDecision        object
SuperOver           object
WinningTeam         object
WonBy               object
Margin             float64
method              object
Player_of_Match     object
Team1Players        object
Team2Players        object
Umpire1             object
Umpire2             object
dtype: object

In [63]:
movies.dtypes

title_x              object
imdb_id              object
poster_path          object
wiki_link            object
title_y              object
original_title       object
is_adult              int64
year_of_release       int64
runtime              object
genres               object
imdb_rating         float64
imdb_votes            int64
story                object
summary              object
tagline              object
actors               object
wins_nominations     object
release_date         object
dtype: object

In [65]:
students.dtypes

marks      int64
iq         int64
lpa      float64
dtype: object

In [7]:
# index

In [8]:
# columns

In [9]:
# values

In [10]:
# head and tail

In [11]:
# sample

In [12]:
# info

In [13]:
# describe

In [14]:
# isnull

In [15]:
# duplicated

In [16]:
# rename

# Maths Functions

In [17]:
# sum -- axis argument, mean, max, min, median, var

# Selecting cols from a DataFrame

In [18]:
# selecting single column

In [19]:
# selecting multiple columns

# Selecting rows from a DataFrame

## iloc - searches using index positions
## loc - searches using index labels

In [20]:
# single row

In [21]:
# multiple row

In [22]:
# fancy indexing

In [23]:
# loc

# Selecting both rows and cols

In [24]:
#

# Filtering a DataFrame

In [25]:
# find all the final winners

In [26]:
# how many super over finishes have occured

In [27]:
# how many matches has csk won in kolkata

In [28]:
  # toss winner is match winner in percentage

In [29]:
# movies with rating higher than 8 and votes>10000

In [30]:
# Action movies with rating higher than 7.5

In [31]:
# write a function that can return the track record of 2 teams against each other

# Adding new cols

In [32]:
# completely new

In [33]:
# from existing ones

# Important DataFrame Functions

In [34]:
# astype

In [35]:
# value_counts

In [36]:
# dropna

In [37]:
# fillna

In [38]:
# sort index

In [39]:
# reset index

In [40]:
# set index

In [41]:
# find which player has won most potm -> in finals and qualifiers

In [42]:
# Toss decision plot

In [43]:
# how many matches each team has played

In [44]:
# sort_values -> ascending -> na_position -> inplace -> multiple cols