<a href="https://colab.research.google.com/github/birusolankar/Pandas/blob/main/Pandas_groupby.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np

In [3]:
# reading movies data
movies = pd.read_csv("/content/imdb-top-1000.csv")
movies

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0
...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0

In [7]:
# reading ipl data
ipl = pd.read_csv("/content/deliveries.csv")
ipl.head()

,match_id,inning,batting_team,bowling_team,over,ball,batsman,non_striker,bowler,is_super_over,...,bye_runs,legbye_runs,noball_runs,penalty_runs,batsman_runs,extra_runs,total_runs,player_dismissed,dismissal_kind,fielder
0,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1.0,1.0,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
1,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1.0,2.0,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
2,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1.0,3.0,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,4.0,0.0,4.0,NaN,NaN,NaN
3,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1.0,4.0,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN
4,1,1,Sunrisers Hyderabad,Royal Challengers Bangalore,1.0,5.0,DA Warner,S Dhawan,TS Mills,0.0,...,0.0,0.0,0.0,0.0,0.0,2.0,2.0,NaN,NaN,NaN

In [5]:
movies.groupby("Genre").count()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,172,172,172,172,172,172,172,172,143
Adventure,72,72,72,72,72,72,72,72,64
Animation,82,82,82,82,82,82,82,82,75
Biography,88,88,88,88,88,88,88,88,79
Comedy,155,155,155,155,155,155,155,155,125
Crime,107,107,107,107,107,107,107,107,87
Drama,289,289,289,289,289,289,289,289,241
Family,2,2,2,2,2,2,2,2,2
Fantasy,2,2,2,2,2,2,2,2,0
Film-Noir,3,3,3,3,3,3,3,3,3
Horror,11,11,11,11,11,11,11,11,11
Mystery,12,12,12,12,12,12,12,12,8
Thriller,1,1,1,1,1,1,1,1,1
Western,4,4,4,4,4,4,4,4,4

In [9]:
# creating an object of an genre
genre = movies.groupby("Genre")

In [12]:
genre.mean("Runtime").sort_values("Runtime", ascending =False)

              Runtime  IMDB_Rating    No_of_Votes         Gross  Metascore
Genre
Western    148.250000     8.350000  322416.250000  1.455538e+07  78.250000
Biography  136.022727     7.938636  272805.045455  9.404952e+07  76.240506
Adventure  134.111111     7.937500  313557.819444  1.319017e+08  78.437500
Action     129.046512     7.949419  420246.581395  1.897224e+08  73.419580
Crime      126.392523     8.016822  313398.271028  7.899656e+07  77.080460
Drama      124.737024     7.957439  212343.612457  1.225259e+08  79.701245
Mystery    119.083333     7.975000  350250.333333  1.047014e+08  79.125000
Comedy     112.129032     7.901290  178195.658065  1.010572e+08  78.720000
Thriller   108.000000     7.800000   27733.000000  1.755074e+07  81.000000
Family     107.500000     7.800000  275610.500000  2.195553e+08  79.000000
Film-Noir  104.000000     7.966667  122405.000000  4.197018e+07  95.666667
Horror     102.090909     7.909091  340232.363636  9.405902e+07  80.000000
Animation   99.585366     7.930488  268032.073171  1.784326e+08  81.093333
Fantasy     85.000000     8.000000   73111.000000  3.913633e+08        NaN

In [ ]:
# lets check basic statistics of movies

In [14]:
# highest sum votes by genre---->SUM
movies.groupby("Genre")['No_of_Votes'].sum().sort_values(ascending =False)

Genre
Action       72282412
Drama        61367304
Crime        33533615
Comedy       27620327
Biography    24006844
Adventure    22576163
Animation    21978630
Mystery       4203004
Horror        3742556
Western       1289665
Family         551221
Film-Noir      367215
Fantasy        146222
Thriller        27733
Name: No_of_Votes, dtype: int64

In [18]:
# lets find the average of movies by genre

movies.groupby("Genre")["Runtime"].mean().sort_values()

Genre
Fantasy       85.000000
Animation     99.585366
Horror       102.090909
Film-Noir    104.000000
Family       107.500000
Thriller     108.000000
Comedy       112.129032
Mystery      119.083333
Drama        124.737024
Crime        126.392523
Action       129.046512
Adventure    134.111111
Biography    136.022727
Western      148.250000
Name: Runtime, dtype: float64

In [22]:
# maximum length of movie by genre
movies.groupby("Genre")["Runtime"].max()

Genre
Action       321
Adventure    228
Animation    137
Biography    209
Comedy       188
Crime        229
Drama        242
Family       115
Fantasy       94
Film-Noir    108
Horror       122
Mystery      138
Thriller     108
Western      165
Name: Runtime, dtype: int64

In [20]:
# minmum runtine of movie by genre
movies.groupby("Genre")["Runtime"].min()

Genre
Action        45
Adventure     88
Animation     71
Biography     93
Comedy        68
Crime         80
Drama         64
Family       100
Fantasy       76
Film-Noir    100
Horror        71
Mystery       96
Thriller     108
Western      132
Name: Runtime, dtype: int64

In [26]:
# top three genre by gross earning
movies.groupby("Genre")["Gross"].sum().sort_values(ascending = False).head(3)

Genre
Drama     3.540997e+10
Action    3.263226e+10
Comedy    1.566387e+10
Name: Gross, dtype: float64

In [28]:
# Find the genre with highest imdb rating
movies.groupby("Genre")["IMDB_Rating"].mean().sort_values(ascending = False).head(1)

Genre
Western    8.35
Name: IMDB_Rating, dtype: float64

In [30]:
# find the top three director with most popularity
movies.groupby("Director")["No_of_Votes"].sum().sort_values(ascending = False).head(3)

Director
Christopher Nolan    11578345
Quentin Tarantino     8123208
Steven Spielberg      7817166
Name: No_of_Votes, dtype: int64

In [31]:
# highest rated movies of each genre
movies.groupby("Genre")["IMDB_Rating"].max()

Genre
Action       9.0
Adventure    8.6
Animation    8.6
Biography    8.9
Comedy       8.6
Crime        9.2
Drama        9.3
Family       7.8
Fantasy      8.1
Film-Noir    8.1
Horror       8.5
Mystery      8.4
Thriller     7.8
Western      8.8
Name: IMDB_Rating, dtype: float64

In [37]:
# Find the number of movies done by each actor
#movies.groupby("Star1")["Series_Title"].count().sort_values(ascending = False)

# alternate method
movies["Star1"].value_counts()

Tom Hanks          12
Robert De Niro     11
Al Pacino          10
Clint Eastwood     10
Humphrey Bogart     9
                   ..
Preity Zinta        1
Javier Bardem       1
Ki-duk Kim          1
Vladimir Garin      1
Robert Donat        1
Name: Star1, Length: 660, dtype: int64

In [38]:
# GroupBy Attributes and Methods
# find total number of groups -> len
# find items in each group -> size
# first()/last() -> nth item
# get_group -> vs filtering
# groups
# describe
# sample
# nunique

In [43]:
# we have created a groupby object called genre
# find total number of groups -> len
len(genre)

14

In [42]:
movies["Genre"].nunique()

14

In [45]:
# find number of items in each group -> size
genre.size()

# Alternate method
movies.groupby("Genre").size()  #---> size helps us to find the total number of items in each group

Genre
Action       172
Adventure     72
Animation     82
Biography     88
Comedy       155
Crime        107
Drama        289
Family         2
Fantasy        2
Film-Noir      3
Horror        11
Mystery       12
Thriller       1
Western        4
dtype: int64

In [47]:
# first()/last() -> nth item

# first()--> helps us to find the first element of each group
genre.first()

# alternate method
movies.groupby("Genre").first()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Dark Knight,2008,152,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
Adventure,Interstellar,2014,169,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
Animation,Sen to Chihiro no kamikakushi,2001,125,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0
Biography,Schindler's List,1993,195,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
Comedy,Gisaengchung,2019,132,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
Crime,The Godfather,1972,175,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
Drama,The Shawshank Redemption,1994,142,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
Family,E.T. the Extra-Terrestrial,1982,115,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
Fantasy,Das Cabinet des Dr. Caligari,1920,76,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
Film-Noir,The Third Man,1949,104,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
Horror,Psycho,1960,109,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
Mystery,Memento,2000,113,8.4,Christopher Nolan,Guy Pearce,1125712,25544867.0,80.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,"Il buono, il brutto, il cattivo",1966,161,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0

In [49]:
# first()/last() -> nth item

# last helps us to find the last element of the each group
genre.last()

# alternate method
movies.groupby("Genre").last()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,Escape from Alcatraz,1979,112,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0
Adventure,Kelly's Heroes,1970,144,7.6,Brian G. Hutton,Clint Eastwood,45338,1378435.0,50.0
Animation,The Jungle Book,1967,78,7.6,Wolfgang Reitherman,Phil Harris,166409,141843612.0,65.0
Biography,Midnight Express,1978,121,7.6,Alan Parker,Brad Davis,73662,35000000.0,59.0
Comedy,Breakfast at Tiffany's,1961,115,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0
Crime,The 39 Steps,1935,86,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0
Drama,Lifeboat,1944,97,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0
Family,Willy Wonka & the Chocolate Factory,1971,100,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
Fantasy,Nosferatu,1922,94,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN
Film-Noir,Shadow of a Doubt,1943,108,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292.0,94.0
Horror,The Others,2001,101,7.6,Alejandro Amenábar,Nicole Kidman,337651,96522687.0,74.0
Mystery,Lost Highway,1997,134,7.6,David Lynch,Bill Pullman,131101,3796699.0,52.0
Thriller,Wait Until Dark,1967,108,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,The Outlaw Josey Wales,1976,135,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0

In [53]:
# first element of the action genre
movies[movies["Genre"]=="Action"].head(1)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0

In [55]:
# last element of the action genre
movies[movies["Genre"]=="Action"].tail(1)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
985,Escape from Alcatraz,1979,112,Action,7.6,Don Siegel,Clint Eastwood,121731,43000000.0,76.0

In [58]:
# first()/last() -> nth item

# nth--> helps us to find the nth item from the group
genre.nth(5)

# alernate method

movies.groupby("Genre").nth(5)

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,The Matrix,1999,136,8.7,Lana Wachowski,Lilly Wachowski,1676426,171479930.0,73.0
Adventure,Lawrence of Arabia,1962,228,8.3,David Lean,Peter O'Toole,268085,44824144.0,100.0
Animation,Coco,2017,105,8.4,Lee Unkrich,Adrian Molina,384171,209726015.0,81.0
Biography,Ayla: The Daughter of War,2017,125,8.4,Can Ulkay,Erdem Can,34112,679278040.0,NaN
Comedy,Dr. Strangelove or: How I Learned to Stop Worr...,1964,95,8.4,Stanley Kubrick,Peter Sellers,450474,275902.0,97.0
Crime,The Green Mile,1999,189,8.6,Frank Darabont,Tom Hanks,1147794,136801374.0,61.0
Drama,Saving Private Ryan,1998,169,8.6,Steven Spielberg,Tom Hanks,1235804,216540909.0,91.0
Horror,The Innocents,1961,100,7.8,Jack Clayton,Deborah Kerr,27007,2616000.0,88.0
Mystery,Twelve Monkeys,1995,129,8.0,Terry Gilliam,Bruce Willis,578443,57141459.0,74.0

In [61]:
movies["Genre"].value_counts()

Drama        289
Action       172
Comedy       155
Crime        107
Biography     88
Animation     82
Adventure     72
Mystery       12
Horror        11
Western        4
Film-Noir      3
Fantasy        2
Family         2
Thriller       1
Name: Genre, dtype: int64

In [63]:
genre.get_group("Fantasy")

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
568,Nosferatu,1922,94,Fantasy,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN

In [64]:
movies[movies["Genre"]=="Fantasy"]

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
568,Nosferatu,1922,94,Fantasy,7.9,F.W. Murnau,Max Schreck,88794,445151978.0,NaN

In [65]:
genre.groups

{'Action': [2, 5, 8, 10, 13, 14, 16, 29, 30, 31, 39, 42, 44, 55, 57, 59, 60, 63, 68, 72, 106, 109, 129, 130, 134, 140, 142, 144, 152, 155, 160, 161, 166, 168, 171, 172, 177, 181, 194, 201, 202, 216, 217, 223, 224, 236, 241, 262, 275, 294, 308, 320, 325, 326, 331, 337, 339, 340, 343, 345, 348, 351, 353, 356, 357, 362, 368, 369, 375, 376, 390, 410, 431, 436, 473, 477, 479, 482, 488, 493, 496, 502, 507, 511, 532, 535, 540, 543, 564, 569, 570, 573, 577, 582, 583, 602, 605, 608, 615, 623, ...], 'Adventure': [21, 47, 93, 110, 114, 116, 118, 137, 178, 179, 191, 193, 209, 226, 231, 247, 267, 273, 281, 300, 301, 304, 306, 323, 329, 361, 366, 377, 402, 406, 415, 426, 458, 470, 497, 498, 506, 513, 514, 537, 549, 552, 553, 566, 576, 604, 609, 618, 638, 647, 675, 681, 686, 692, 711, 713, 739, 755, 781, 797, 798, 851, 873, 884, 912, 919, 947, 957, 964, 966, 984, 991], 'Animation': [23, 43, 46, 56, 58, 61, 66, 70, 101, 135, 146, 151, 158, 170, 197, 205, 211, 213, 219, 229, 230, 242, 245, 246, 270, 330, 332, 358, 367, 378, 386, 389, 394, 395, 399, 401, 405, 409, 469, 499, 510, 516, 518, 522, 578, 586, 592, 595, 596, 599, 633, 640, 643, 651, 665, 672, 694, 728, 740, 741, 744, 756, 758, 761, 771, 783, 796, 799, 822, 828, 843, 875, 891, 892, 902, 906, 920, 956, 971, 976, 986, 992], 'Biography': [7, 15, 18, 35, 38, 54, 102, 107, 131, 139, 147, 157, 159, 173, 176, 212, 215, 218, 228, 235, 243, 263, 276, 282, 290, 298, 317, 328, 338, 342, 346, 359, 360, 365, 372, 373, 385, 411, 416, 418, 424, 429, 484, 525, 536, 542, 545, 575, 579, 587, 600, 606, 614, 622, 632, 635, 644, 649, 650, 657, 671, 673, 684, 729, 748, 753, 757, 759, 766, 770, 779, 809, 810, 815, 820, 831, 849, 858, 877, 882, 897, 910, 915, 923, 940, 949, 952, 987], 'Comedy': [19, 26, 51, 52, 64, 78, 83, 95, 96, 112, 117, 120, 127, 128, 132, 153, 169, 183, 192, 204, 207, 208, 214, 221, 233, 238, 240, 250, 251, 252, 256, 261, 266, 277, 284, 311, 313, 316, 318, 322, 327, 374, 379, 381, 392, 396, 403, 413, 414, 417, 427, 435, 445, 446, 449, 455, 459, 460, 463, 464, 466, 471, 472, 475, 481, 490, 494, 500, 503, 509, 526, 528, 530, 531, 533, 538, 539, 541, 547, 557, 558, 562, 563, 565, 574, 591, 593, 594, 598, 613, 626, 630, 660, 662, 667, 679, 680, 683, 687, 701, ...], 'Crime': [1, 3, 4, 6, 22, 25, 27, 28, 33, 37, 41, 71, 77, 79, 86, 87, 103, 108, 111, 113, 123, 125, 133, 136, 162, 163, 164, 165, 180, 186, 187, 189, 198, 222, 232, 239, 255, 257, 287, 288, 299, 305, 335, 363, 364, 380, 384, 397, 437, 438, 441, 442, 444, 450, 451, 465, 474, 480, 485, 487, 505, 512, 519, 520, 523, 527, 546, 556, 560, 584, 597, 603, 607, 611, 621, 639, 653, 664, 669, 676, 695, 708, 723, 762, 763, 767, 775, 791, 795, 802, 811, 823, 827, 833, 885, 895, 921, 922, 926, 938, ...], 'Drama': [0, 9, 11, 17, 20, 24, 32, 34, 36, 40, 45, 50, 53, 62, 65, 67, 73, 74, 76, 80, 82, 84, 85, 88, 89, 90, 91, 92, 94, 97, 98, 99, 100, 104, 105, 121, 122, 124, 126, 138, 141, 143, 148, 149, 150, 154, 156, 167, 174, 175, 182, 184, 185, 188, 190, 195, 196, 199, 200, 203, 206, 210, 225, 227, 234, 237, 244, 248, 249, 253, 254, 258, 259, 260, 264, 265, 268, 269, 272, 274, 278, 279, 280, 283, 285, 286, 289, 291, 292, 293, 295, 296, 297, 302, 303, 307, 310, 312, 314, 315, ...], 'Family': [688, 698], 'Fantasy': [321, 568], 'Film-Noir': [309, 456, 712], 'Horror': [49, 75, 271, 419, 544, 707, 724, 844, 876, 932, 948], 'Mystery': [69, 81, 119, 145, 220, 393, 420, 714, 829, 899, 959, 961], 'Thriller': [700], 'Western': [12, 48, 115, 691]}

In [66]:
# describe
genre.describe()

          Runtime                                                              \
            count        mean        std    min     25%    50%     75%    max
Genre
Action      172.0  129.046512  28.500706   45.0  110.75  127.5  143.25  321.0
Adventure    72.0  134.111111  33.317320   88.0  109.00  127.0  149.00  228.0
Animation    82.0   99.585366  14.530471   71.0   90.00   99.5  106.75  137.0
Biography    88.0  136.022727  25.514466   93.0  120.00  129.0  146.25  209.0
Comedy      155.0  112.129032  22.946213   68.0   96.00  106.0  124.50  188.0
Crime       107.0  126.392523  27.689231   80.0  106.50  122.0  141.50  229.0
Drama       289.0  124.737024  27.740490   64.0  105.00  121.0  137.00  242.0
Family        2.0  107.500000  10.606602  100.0  103.75  107.5  111.25  115.0
Fantasy       2.0   85.000000  12.727922   76.0   80.50   85.0   89.50   94.0
Film-Noir     3.0  104.000000   4.000000  100.0  102.00  104.0  106.00  108.0
Horror       11.0  102.090909  13.604812   71.0   98.00  103.0  109.00  122.0
Mystery      12.0  119.083333  14.475423   96.0  110.75  117.5  130.25  138.0
Thriller      1.0  108.000000        NaN  108.0  108.00  108.0  108.00  108.0
Western       4.0  148.250000  17.153717  132.0  134.25  148.0  162.00  165.0

          IMDB_Rating            ...         Gross              Metascore  \
                count      mean  ...           75%          max     count
Genre                            ...
Action          172.0  7.949419  ...  2.674437e+08  936662225.0     143.0
Adventure        72.0  7.937500  ...  1.998070e+08  874211619.0      64.0
Animation        82.0  7.930488  ...  2.520612e+08  873839108.0      75.0
Biography        88.0  7.938636  ...  9.829924e+07  753585104.0      79.0
Comedy          155.0  7.901290  ...  8.107809e+07  886752933.0     125.0
Crime           107.0  8.016822  ...  7.102163e+07  790482117.0      87.0
Drama           289.0  7.957439  ...  1.164461e+08  924558264.0     241.0
Family            2.0  7.800000  ...  3.273329e+08  435110554.0       2.0
Fantasy           2.0  8.000000  ...  4.182577e+08  445151978.0       0.0
Film-Noir         3.0  7.966667  ...  6.273068e+07  123353292.0       3.0
Horror           11.0  7.909091  ...  1.362817e+08  298791505.0      11.0
Mystery          12.0  7.975000  ...  1.310949e+08  474203697.0       8.0
Thriller          1.0  7.800000  ...  1.755074e+07   17550741.0       1.0
Western           4.0  8.350000  ...  1.920000e+07   31800000.0       4.0


                mean        std   min    25%   50%    75%    max
Genre
Action     73.419580  12.421252  33.0  65.00  74.0  82.00   98.0
Adventure  78.437500  12.345393  41.0  69.75  80.5  87.25  100.0
Animation  81.093333   8.813646  61.0  75.00  82.0  87.50   96.0
Biography  76.240506  11.028187  48.0  70.50  76.0  84.50   97.0
Comedy     78.720000  11.829160  45.0  72.00  79.0  88.00   99.0
Crime      77.080460  13.099102  47.0  69.50  77.0  87.00  100.0
Drama      79.701245  12.744687  28.0  72.00  82.0  89.00  100.0
Family     79.000000  16.970563  67.0  73.00  79.0  85.00   91.0
Fantasy          NaN        NaN   NaN    NaN   NaN    NaN    NaN
Film-Noir  95.666667   1.527525  94.0  95.00  96.0  96.50   97.0
Horror     80.000000  15.362291  46.0  77.50  87.0  88.50   97.0
Mystery    79.125000  18.604435  52.0  65.25  77.0  98.50  100.0
Thriller   81.000000        NaN  81.0  81.00  81.0  81.00   81.0
Western    78.250000   9.032349  69.0  72.75  77.0  82.50   90.0

[14 rows x 40 columns]

In [67]:
movies["Runtime"].describe()

count    1000.000000
mean      122.891000
std        28.093671
min        45.000000
25%       103.000000
50%       119.000000
75%       137.000000
max       321.000000
Name: Runtime, dtype: float64

In [70]:
movies[movies["Genre"]=="Action"]["Runtime"].describe()

count    172.000000
mean     129.046512
std       28.500706
min       45.000000
25%      110.750000
50%      127.500000
75%      143.250000
max      321.000000
Name: Runtime, dtype: float64

In [71]:
movies[movies["Genre"]=="Action"]["Runtime"].max()

321

In [80]:
genre.sample(2, replace=True)

# sample --> it gives the number of sample of the each group

movies.groupby("Genre").sample(2, replace=True)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
854,Where Eagles Dare,1968,158,Action,7.7,Brian G. Hutton,Richard Burton,51913,856773674.0,63.0
641,Gongdong gyeongbi guyeok JSA,2000,110,Action,7.8,Chan-wook Park,Lee Yeong-ae,26518,147161249.0,58.0
798,Interstate 60: Episodes of the Road,2002,116,Adventure,7.7,Bob Gale,James Marsden,29999,174381905.0,NaN
919,Stardust,2007,127,Adventure,7.6,Matthew Vaughn,Charlie Cox,255036,38634938.0,66.0
46,Hotaru no haka,1988,89,Animation,8.5,Isao Takahata,Tsutomu Tatsumi,235231,150734678.0,94.0
843,Rupan sansei: Kariosutoro no shiro,1979,100,Animation,7.7,Hayao Miyazaki,Yasuo Yamada,27014,762251541.0,71.0
542,Patton,1970,172,Biography,7.9,Franklin J. Schaffner,George C. Scott,93741,61700000.0,91.0
729,The Theory of Everything,2014,123,Biography,7.7,James Marsh,Eddie Redmayne,404182,35893537.0,72.0
531,A Christmas Story,1983,93,Comedy,7.9,Bob Clark,Peter Billingsley,132947,20605209.0,77.0
558,Miracle on 34th Street,1947,96,Comedy,7.9,George Seaton,Edmund Gwenn,41625,2650000.0,88.0
123,Double Indemnity,1944,107,Crime,8.3,Billy Wilder,Fred MacMurray,143525,5720000.0,95.0
664,A Bronx Tale,1993,121,Crime,7.8,Robert De Niro,Robert De Niro,128171,17266971.0,80.0
80,Paths of Glory,1957,88,Drama,8.4,Stanley Kubrick,Kirk Douglas,178092,518311052.0,90.0
74,Apocalypse Now,1979,147,Drama,8.4,Francis Ford Coppola,Martin Sheen,606398,83471511.0,94.0
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
712,Shadow of a Doubt,1943,108,Film-Noir,7.8,Alfred Hitchcock,Teresa Wright,59556,123353292.0,94.0
456,The Maltese Falcon,1941,100,Film-Noir,8.0,John Huston,Humphrey Bogart,148928,2108060.0,96.0
724,Get Out,2017,104,Horror,7.7,Jordan Peele,Daniel Kaluuya,492851,176040665.0,85.0
932,Saw,2004,103,Horror,7.6,James Wan,Cary Elwes,379020,56000369.0,46.0
899,El cuerpo,2012,112,Mystery,7.6,Oriol Paulo,Jose Coronado,57549,140340673.0,NaN
145,Shutter Island,2010,138,Mystery,8.2,Martin Scorsese,Leonardo DiCaprio,1129894,128012934.0,63.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
691,The Outlaw Josey Wales,1976,135,Western,7.8,Clint Eastwood,Clint Eastwood,65659,31800000.0,69.0
115,Per qualche dollaro in più,1965,132,Western,8.3,Sergio Leone,Clint Eastwood,232772,15000000.0,74.0

In [81]:
# nunique---> number of unique values in each group
genre.nunique()

,Series_Title,Released_Year,Runtime,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,
Action,172,61,78,15,123,121,172,172,50
Adventure,72,49,58,10,59,59,72,72,33
Animation,82,35,41,11,51,77,82,82,29
Biography,88,44,56,13,76,72,88,88,40
Comedy,155,72,70,11,113,133,155,155,44
Crime,106,56,65,14,86,85,107,107,39
Drama,289,83,95,14,211,250,288,287,52
Family,2,2,2,1,2,2,2,2,2
Fantasy,2,2,2,2,2,2,2,2,0
Film-Noir,3,3,3,3,3,3,3,3,3
Horror,11,11,10,8,10,11,11,11,9
Mystery,12,11,10,8,10,11,12,12,7
Thriller,1,1,1,1,1,1,1,1,1
Western,4,4,4,4,2,2,4,4,4

In [82]:
# agg method
# passing a dictionary

genre.agg(
    {
        "Runtime":"mean",
        "IMDB_Rating":"mean",
        "No_of_Votes":"sum",
        "Gross":"sum",
        "Metascore":"max"
    }
)

              Runtime  IMDB_Rating  No_of_Votes         Gross  Metascore
Genre
Action     129.046512     7.949419     72282412  3.263226e+10       98.0
Adventure  134.111111     7.937500     22576163  9.496922e+09      100.0
Animation   99.585366     7.930488     21978630  1.463147e+10       96.0
Biography  136.022727     7.938636     24006844  8.276358e+09       97.0
Comedy     112.129032     7.901290     27620327  1.566387e+10       99.0
Crime      126.392523     8.016822     33533615  8.452632e+09      100.0
Drama      124.737024     7.957439     61367304  3.540997e+10      100.0
Family     107.500000     7.800000       551221  4.391106e+08       91.0
Fantasy     85.000000     8.000000       146222  7.827267e+08        NaN
Film-Noir  104.000000     7.966667       367215  1.259105e+08       97.0
Horror     102.090909     7.909091      3742556  1.034649e+09       97.0
Mystery    119.083333     7.975000      4203004  1.256417e+09      100.0
Thriller   108.000000     7.800000        27733  1.755074e+07       81.0
Western    148.250000     8.350000      1289665  5.822151e+07       90.0

In [83]:
movies.groupby("Genre").agg({
        "Runtime":"mean",
        "IMDB_Rating":"mean",
        "No_of_Votes":"sum",
        "Gross":"sum",
        "Metascore":"max"
    })

              Runtime  IMDB_Rating  No_of_Votes         Gross  Metascore
Genre
Action     129.046512     7.949419     72282412  3.263226e+10       98.0
Adventure  134.111111     7.937500     22576163  9.496922e+09      100.0
Animation   99.585366     7.930488     21978630  1.463147e+10       96.0
Biography  136.022727     7.938636     24006844  8.276358e+09       97.0
Comedy     112.129032     7.901290     27620327  1.566387e+10       99.0
Crime      126.392523     8.016822     33533615  8.452632e+09      100.0
Drama      124.737024     7.957439     61367304  3.540997e+10      100.0
Family     107.500000     7.800000       551221  4.391106e+08       91.0
Fantasy     85.000000     8.000000       146222  7.827267e+08        NaN
Film-Noir  104.000000     7.966667       367215  1.259105e+08       97.0
Horror     102.090909     7.909091      3742556  1.034649e+09       97.0
Mystery    119.083333     7.975000      4203004  1.256417e+09      100.0
Thriller   108.000000     7.800000        27733  1.755074e+07       81.0
Western    148.250000     8.350000      1289665  5.822151e+07       90.0

In [84]:
movies["Runtime"].agg(["min", "max", "mean"])

min      45.000
max     321.000
mean    122.891
Name: Runtime, dtype: float64

In [85]:
genre.agg(['min','max','sum','mean'])

<ipython-input-85-8bf982aa4561>:1: FutureWarning: ['Series_Title', 'Released_Year', 'Director', 'Star1'] did not aggregate successfully. If any error is raised this will raise in a future version of pandas. Drop these columns/ops to avoid this warning.
  genre.agg(['min','max','sum','mean'])

          Runtime                         IMDB_Rating                         \
              min  max    sum        mean         min  max     sum      mean
Genre
Action         45  321  22196  129.046512         7.6  9.0  1367.3  7.949419
Adventure      88  228   9656  134.111111         7.6  8.6   571.5  7.937500
Animation      71  137   8166   99.585366         7.6  8.6   650.3  7.930488
Biography      93  209  11970  136.022727         7.6  8.9   698.6  7.938636
Comedy         68  188  17380  112.129032         7.6  8.6  1224.7  7.901290
Crime          80  229  13524  126.392523         7.6  9.2   857.8  8.016822
Drama          64  242  36049  124.737024         7.6  9.3  2299.7  7.957439
Family        100  115    215  107.500000         7.8  7.8    15.6  7.800000
Fantasy        76   94    170   85.000000         7.9  8.1    16.0  8.000000
Film-Noir     100  108    312  104.000000         7.8  8.1    23.9  7.966667
Horror         71  122   1123  102.090909         7.6  8.5    87.0  7.909091
Mystery        96  138   1429  119.083333         7.6  8.4    95.7  7.975000
Thriller      108  108    108  108.000000         7.8  7.8     7.8  7.800000
Western       132  165    593  148.250000         7.8  8.8    33.4  8.350000

          No_of_Votes                                          Gross  \
                  min      max       sum           mean          min
Genre
Action          25312  2303232  72282412  420246.581395       3296.0
Adventure       29999  1512360  22576163  313557.819444      61001.0
Animation       25229   999790  21978630  268032.073171     128985.0
Biography       27254  1213505  24006844  272805.045455      21877.0
Comedy          26337   939631  27620327  178195.658065       1305.0
Crime           27712  1826188  33533615  313398.271028       6013.0
Drama           25088  2343110  61367304  212343.612457       3600.0
Family         178731   372490    551221  275610.500000    4000000.0
Fantasy         57428    88794    146222   73111.000000  337574718.0
Film-Noir       59556   158731    367215  122405.000000     449191.0
Horror          27007   787806   3742556  340232.363636      89029.0
Mystery         33982  1129894   4203004  350250.333333    1035953.0
Thriller        27733    27733     27733   27733.000000   17550741.0
Western         65659   688390   1289665  322416.250000    5321508.0

                                                   Metascore                  \
                   max           sum          mean       min    max      sum
Genre
Action     936662225.0  3.263226e+10  1.897224e+08      33.0   98.0  10499.0
Adventure  874211619.0  9.496922e+09  1.319017e+08      41.0  100.0   5020.0
Animation  873839108.0  1.463147e+10  1.784326e+08      61.0   96.0   6082.0
Biography  753585104.0  8.276358e+09  9.404952e+07      48.0   97.0   6023.0
Comedy     886752933.0  1.566387e+10  1.010572e+08      45.0   99.0   9840.0
Crime      790482117.0  8.452632e+09  7.899656e+07      47.0  100.0   6706.0
Drama      924558264.0  3.540997e+10  1.225259e+08      28.0  100.0  19208.0
Family     435110554.0  4.391106e+08  2.195553e+08      67.0   91.0    158.0
Fantasy    445151978.0  7.827267e+08  3.913633e+08       NaN    NaN      0.0
Film-Noir  123353292.0  1.259105e+08  4.197018e+07      94.0   97.0    287.0
Horror     298791505.0  1.034649e+09  9.405902e+07      46.0   97.0    880.0
Mystery    474203697.0  1.256417e+09  1.047014e+08      52.0  100.0    633.0
Thriller    17550741.0  1.755074e+07  1.755074e+07      81.0   81.0     81.0
Western     31800000.0  5.822151e+07  1.455538e+07      69.0   90.0    313.0


                mean
Genre
Action     73.419580
Adventure  78.437500
Animation  81.093333
Biography  76.240506
Comedy     78.720000
Crime      77.080460
Drama      79.701245
Family     79.000000
Fantasy          NaN
Film-Noir  95.666667
Horror     80.000000
Mystery    79.125000
Thriller   81.000000
Western    78.250000

In [88]:
genre.agg({
    "Runtime":['min', 'max','mean'],
    "IMDB_Rating": ['min', 'max', 'mean'],
    "No_of_Votes":["sum", 'max'],
    "Gross":['min','max'],
    "Metascore":['min','max']
})

          Runtime                  IMDB_Rating                No_of_Votes  \
              min  max        mean         min  max      mean         sum
Genre
Action         45  321  129.046512         7.6  9.0  7.949419    72282412
Adventure      88  228  134.111111         7.6  8.6  7.937500    22576163
Animation      71  137   99.585366         7.6  8.6  7.930488    21978630
Biography      93  209  136.022727         7.6  8.9  7.938636    24006844
Comedy         68  188  112.129032         7.6  8.6  7.901290    27620327
Crime          80  229  126.392523         7.6  9.2  8.016822    33533615
Drama          64  242  124.737024         7.6  9.3  7.957439    61367304
Family        100  115  107.500000         7.8  7.8  7.800000      551221
Fantasy        76   94   85.000000         7.9  8.1  8.000000      146222
Film-Noir     100  108  104.000000         7.8  8.1  7.966667      367215
Horror         71  122  102.090909         7.6  8.5  7.909091     3742556
Mystery        96  138  119.083333         7.6  8.4  7.975000     4203004
Thriller      108  108  108.000000         7.8  7.8  7.800000       27733
Western       132  165  148.250000         7.8  8.8  8.350000     1289665

                          Gross              Metascore
               max          min          max       min    max
Genre
Action     2303232       3296.0  936662225.0      33.0   98.0
Adventure  1512360      61001.0  874211619.0      41.0  100.0
Animation   999790     128985.0  873839108.0      61.0   96.0
Biography  1213505      21877.0  753585104.0      48.0   97.0
Comedy      939631       1305.0  886752933.0      45.0   99.0
Crime      1826188       6013.0  790482117.0      47.0  100.0
Drama      2343110       3600.0  924558264.0      28.0  100.0
Family      372490    4000000.0  435110554.0      67.0   91.0
Fantasy      88794  337574718.0  445151978.0       NaN    NaN
Film-Noir   158731     449191.0  123353292.0      94.0   97.0
Horror      787806      89029.0  298791505.0      46.0   97.0
Mystery    1129894    1035953.0  474203697.0      52.0  100.0
Thriller     27733   17550741.0   17550741.0      81.0   81.0
Western     688390    5321508.0   31800000.0      69.0   90.0

In [90]:
# looping on groups

df = pd.DataFrame(columns=movies.columns)

for group,data in genre:
  df = df.append(data[data["IMDB_Rating"]== data["IMDB_Rating"].max()])

df

<ipython-input-90-9f8f55000a4b>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data["IMDB_Rating"]== data["IMDB_Rating"].max()])
<ipython-input-90-9f8f55000a4b>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data["IMDB_Rating"]== data["IMDB_Rating"].max()])
<ipython-input-90-9f8f55000a4b>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data["IMDB_Rating"]== data["IMDB_Rating"].max()])
<ipython-input-90-9f8f55000a4b>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data["IMDB_Rating"]== data["IMDB_Rating"].max()])
<ipython-input-90-9f8f55000a4b>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data["IMDB_Rating"]== data["IMDB_Rating"].max()])
<ipython-input-90-9f8f55000a4b>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data["IMDB_Rating"]== data["IMDB_Rating"].max()])
<ipython-input-90-9f8f55000a4b>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data["IMDB_Rating"]== data["IMDB_Rating"].max()])
<ipython-input-90-9f8f55000a4b>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data["IMDB_Rating"]== data["IMDB_Rating"].max()])
<ipython-input-90-9f8f55000a4b>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data["IMDB_Rating"]== data["IMDB_Rating"].max()])
<ipython-input-90-9f8f55000a4b>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data["IMDB_Rating"]== data["IMDB_Rating"].max()])
<ipython-input-90-9f8f55000a4b>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data["IMDB_Rating"]== data["IMDB_Rating"].max()])
<ipython-input-90-9f8f55000a4b>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data["IMDB_Rating"]== data["IMDB_Rating"].max()])
<ipython-input-90-9f8f55000a4b>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data["IMDB_Rating"]== data["IMDB_Rating"].max()])
<ipython-input-90-9f8f55000a4b>:6: FutureWarning: The frame.append method is deprecated and will be removed from pandas in a future version. Use pandas.concat instead.
  df = df.append(data[data["IMDB_Rating"]== data["IMDB_Rating"].max()])

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0
21,Interstellar,2014,169,Adventure,8.6,Christopher Nolan,Matthew McConaughey,1512360,188020017.0,74.0
23,Sen to Chihiro no kamikakushi,2001,125,Animation,8.6,Hayao Miyazaki,Daveigh Chase,651376,10055859.0,96.0
7,Schindler's List,1993,195,Biography,8.9,Steven Spielberg,Liam Neeson,1213505,96898818.0,94.0
19,Gisaengchung,2019,132,Comedy,8.6,Bong Joon Ho,Kang-ho Song,552778,53367844.0,96.0
26,La vita è bella,1997,116,Comedy,8.6,Roberto Benigni,Roberto Benigni,623629,57598247.0,59.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0
688,E.T. the Extra-Terrestrial,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
698,Willy Wonka & the Chocolate Factory,1971,100,Family,7.8,Mel Stuart,Gene Wilder,178731,4000000.0,67.0
321,Das Cabinet des Dr. Caligari,1920,76,Fantasy,8.1,Robert Wiene,Werner Krauss,57428,337574718.0,NaN
309,The Third Man,1949,104,Film-Noir,8.1,Carol Reed,Orson Welles,158731,449191.0,97.0
49,Psycho,1960,109,Horror,8.5,Alfred Hitchcock,Anthony Perkins,604211,32000000.0,97.0
69,Memento,2000,113,Mystery,8.4,Christopher Nolan,Guy Pearce,1125712,25544867.0,80.0
81,Rear Window,1954,112,Mystery,8.4,Alfred Hitchcock,James Stewart,444074,36764313.0,100.0
700,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
12,"Il buono, il brutto, il cattivo",1966,161,Western,8.8,Sergio Leone,Clint Eastwood,688390,6100000.0,90.0

In [93]:
# split(apply) and combine
# apply --> builtin function

genre.apply(max)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore
Genre,,,,,,,,,,
Action,Yôjinbô,2019,321,Action,9.0,Zack Snyder,Yun-Fat Chow,2303232,936662225.0,NaN
Adventure,Zombieland,PG,228,Adventure,8.6,Ömer Faruk Sorak,Yves Montand,1512360,874211619.0,NaN
Animation,Ôkami kodomo no Ame to Yuki,2020,137,Animation,8.6,Yoshifumi Kondô,Yôji Matsuda,999790,873839108.0,NaN
Biography,Zerkalo,2020,209,Biography,8.9,Tom McCarthy,Éric Toledano,1213505,753585104.0,NaN
Comedy,Zindagi Na Milegi Dobara,2020,188,Comedy,8.6,Zoya Akhtar,Ömer Faruk Sorak,939631,886752933.0,NaN
Crime,À bout de souffle,2019,229,Crime,9.2,Yavuz Turgul,Vincent Cassel,1826188,790482117.0,NaN
Drama,Zwartboek,2020,242,Drama,9.3,Çagan Irmak,Çetin Tekindor,2343110,924558264.0,NaN
Family,Willy Wonka & the Chocolate Factory,1982,115,Family,7.8,Steven Spielberg,Henry Thomas,372490,435110554.0,91.0
Fantasy,Nosferatu,1922,94,Fantasy,8.1,Robert Wiene,Werner Krauss,88794,445151978.0,NaN
Film-Noir,The Third Man,1949,108,Film-Noir,8.1,John Huston,Teresa Wright,158731,123353292.0,97.0
Horror,The Thing,2017,122,Horror,8.5,William Friedkin,Sigourney Weaver,787806,298791505.0,97.0
Mystery,Vertigo,2012,138,Mystery,8.4,Terry Gilliam,Vidya Balan,1129894,474203697.0,NaN
Thriller,Wait Until Dark,1967,108,Thriller,7.8,Terence Young,Audrey Hepburn,27733,17550741.0,81.0
Western,The Outlaw Josey Wales,1976,165,Western,8.8,Sergio Leone,Henry Fonda,688390,31800000.0,90.0

In [94]:
# number of movies starting with A in each group

def movies_start_with_A(group):
  return group["Series_Title"].str.startswith("A").sum()

In [95]:
genre.apply(movies_start_with_A)

Genre
Action       10
Adventure     2
Animation     2
Biography     9
Comedy       14
Crime         4
Drama        21
Family        0
Fantasy       0
Film-Noir     0
Horror        1
Mystery       0
Thriller      0
Western       0
dtype: int64

In [100]:
# find ranking of each movie in the group according to IMDB score

def rank_movie(group):
  group["genre_rank"] = group["IMDB_Rating"].rank(ascending = False)
  return group

In [101]:
genre.apply(rank_movie)

<ipython-input-101-d537fca52807>:1: FutureWarning: Not prepending group keys to the result index of transform-like apply. In the future, the group keys will be included in the index, regardless of whether the applied function returns a like-indexed object.
To preserve the previous behavior, use

	>>> .groupby(..., group_keys=False)

To adopt the future behavior and silence this warning, use

	>>> .groupby(..., group_keys=True)
  genre.apply(rank_movie)

,Series_Title,Released_Year,Runtime,Genre,IMDB_Rating,Director,Star1,No_of_Votes,Gross,Metascore,genre_rank
0,The Shawshank Redemption,1994,142,Drama,9.3,Frank Darabont,Tim Robbins,2343110,28341469.0,80.0,1.0
1,The Godfather,1972,175,Crime,9.2,Francis Ford Coppola,Marlon Brando,1620367,134966411.0,100.0,1.0
2,The Dark Knight,2008,152,Action,9.0,Christopher Nolan,Christian Bale,2303232,534858444.0,84.0,1.0
3,The Godfather: Part II,1974,202,Crime,9.0,Francis Ford Coppola,Al Pacino,1129952,57300000.0,90.0,2.5
4,12 Angry Men,1957,96,Crime,9.0,Sidney Lumet,Henry Fonda,689845,4360000.0,96.0,2.5
...,...,...,...,...,...,...,...,...,...,...,...
995,Breakfast at Tiffany's,1961,115,Comedy,7.6,Blake Edwards,Audrey Hepburn,166544,679874270.0,76.0,147.0
996,Giant,1956,201,Drama,7.6,George Stevens,Elizabeth Taylor,34075,195217415.0,84.0,272.5
997,From Here to Eternity,1953,118,Drama,7.6,Fred Zinnemann,Burt Lancaster,43374,30500000.0,85.0,272.5
998,Lifeboat,1944,97,Drama,7.6,Alfred Hitchcock,Tallulah Bankhead,26471,852142728.0,78.0,272.5
999,The 39 Steps,1935,86,Crime,7.6,Alfred Hitchcock,Robert Donat,51853,302787539.0,93.0,101.0