<a href="https://colab.research.google.com/github/birusolankar/Pandas/blob/main/Pandas_Series_DataFrame.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello world")

hello world

# PANDAS SERIES

What is Pandas
Pandas is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.

https://pandas.pydata.org/about/index.html

In [1]:
# import pandas and numpy libraries
import pandas as pd
import numpy as np

### Series From list

In [2]:
vk = pd.read_csv("/content/kohli_ipl.csv")

In [3]:
movies = pd.read_csv("/content/bollywood.csv")

In [4]:
sub = pd.read_csv("/content/subs.csv")

# Series from List

In [8]:
# series from list
# string
country = ['India', 'Pakistan', 'Srilanka', 'Nepal', 'Bhutan', 'China']

In [10]:
country_series = pd.Series(country)
country_series

0       India
1    Pakistan
2    Srilanka
3       Nepal
4      Bhutan
5       China
dtype: object

In [11]:
# integer
L = [1,2,3,4,5,6,7,8,9]
l_df = pd.Series(L)
l_df

0    1
1    2
2    3
3    4
4    5
5    6
6    7
7    8
8    9
dtype: int64

In [13]:
# creating series with custom index

marks = [65,98,65,85,75]
subjects = ['History', 'Maths', 'Science', 'Marathi', 'Hindi']
marks_df = pd.Series(marks, index= subjects)
marks_df

History    65
Maths      98
Science    65
Marathi    85
Hindi      75
dtype: int64

In [21]:
marks_df.reset_index()

     index   0
0  History  65
1    Maths  98
2  Science  65
3  Marathi  85
4    Hindi  75

In [19]:
type(marks_df)

pandas.core.series.Series

In [27]:
# setting a name to the series

marks = [65,98,65,85,75]
subjects = ['History', 'Maths', 'Science', 'Marathi', 'Hindi']
marks_df = pd.Series(marks, index= subjects, name = 'Biru ke marks')
marks_df

History    65
Maths      98
Science    65
Marathi    85
Hindi      75
Name: Biru ke marks, dtype: int64

# Series from Dictionary

In [28]:
Marks_dict = {
    'History':65,
    'Maths':98,
    'Science':65,
    'Marathi':85,
    'Hindi':75
}

marks_df = pd.Series(Marks_dict, name='Biru ke marks')

In [32]:
marks_df

History    65
Maths      98
Science    65
Marathi    85
Hindi      75
Name: Biru ke marks, dtype: int64

# Series Attribute

In [34]:
# Size
marks_df.size

5

In [35]:
l_df.size

9

In [36]:
vk.size

430

In [45]:
# dtype(Series)   DataFrame(dtypes)
marks_df.dtype

dtype('int64')

In [48]:
country_series.dtype

dtype('O')

In [54]:
# name
marks_df.name

'Biru ke marks'

In [55]:
# is_unique
marks_df.is_unique

False

In [57]:
country_series.is_unique

True

In [58]:
# index
marks_df.index

Index(['History', 'Maths', 'Science', 'Marathi', 'Hindi'], dtype='object')

In [59]:
l_df.index

RangeIndex(start=0, stop=9, step=1)

In [60]:
vk.index

RangeIndex(start=0, stop=215, step=1)